body{
  background-position: center;;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}


header {
  background-image: url('./imagenes/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white; 
  text-align: center; 
}

.Logo{
    max-width: 150px;
    height: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    
}

nav{
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    transition: background-color 2s ease;
    box-sizing: border-box;
}

.fondo-nav{
    background-color: white; 
}

.menu{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content:space-around;
    align-items: center;
}

.item-menu{
  margin: 0 20px;
}

.item-link{
  text-decoration: none;
  color: #eeeeee;
  font-size: 50px;
  font-weight: bold;
  transition: color 0.3s ease;
  text-shadow: 4px 4px #808080, 6px 6px black;

}
.item-link:hover{
  color: #383636
}

.titulo {
  text-align: center;
}

h1{
  font-weight: 200;
  font-size: calc(2em + 40px); 
  color: #eeeeee;
  text-shadow: 4px 4px #808080, 6px 6px black;
}

.espacio-titulo{
  padding: 100px 20px;
}

main {
  background-color: #FFFFFF;
  padding: 70px 20px;
  box-sizing: border-box;
}

h2 {
  color: black;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.8), 4px 4px rgba(0, 0, 0, 0.2);
  font-size: calc(2em + 15px);
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.cont-padre{
  margin: 100px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.tarjeta{
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-size: 24px;
}

.descr-tarjeta{
  width: 90%;
  text-align: center;
  height: 30px;
  color:#181D31;
}

.img-tarjeta{
  width: 100%;
  margin: 0px;

}

.boton-ver{
  background-color: black;
  color: #eeeeee;
  padding: 20px;
  margin: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 60%;
  text-decoration: none;
}

footer{
  background-color: #181D31;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.logo{
  height: 65px;
}

/*--------------- Pag. Historia.-------------------*/ 

#header-2{
  background-image: url( ./imagenes/historia-programacion.jpg);
  height: 70vh;
}

.titulo-historia{
  background: rgba(97, 125, 172, 0.397);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%; 
}

.cont-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-color: #ffffff;
}

.carta-hist{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 60px;
}

.carta-hist2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 60px;
}

.carta-hist2 img{
  width: 40%;
  height: auto;
}

.carta-hist3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 60px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.container video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.barra{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181D31;
  margin-bottom: 50px;
  padding: 0px 15px;
}

.botones{
  display: flex;
  gap: 15px;
}

.botonesVideo{
  background: white;
  border: solid 1px #ccc;
  cursor: pointer;
  padding: 15px;
}

.botonesVideo img{
  width: 25px;
  height: auto;
}

#play{
  width: 80%;
}
#pause{
  width: 80%;
}
#volumen {
  width: 100px;
  margin-left: 10px;
  cursor: pointer;
}
#showTime{
  font-size: 14px;
  color: white;
  margin-left: auto;
}

